<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TEMPLATE</title>
    <link rel="stylesheet" href="{%static 'css/myFile.css' %}">
</head>
<body>
<h1>employee List ls"</h1>
{% if elist %}
<table border="1px">
    <thead>
    <th>EmpId</th>
    <th>EmpName</th>
    <th>EmpSal</th>
    <th>EmAdd</th>
    </thead>
    {% for emp in elist%}
    <tr>
        <td>{{emp.EmpId}}</td>
        <td>{{emp.EmpName}}</td>
        <td>{{emp.EmpSal}}</td>
        <td>{{emp.EmpAdd}}</td>
    </tr>
    {% endfor %}
</table>
{%else%}
<h2> sorry No records found"</h2>
{% endif %}
</body>
</html>
